<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @restaurant.description %>
</p>

<p>
  <strong>Addres:</strong>
  <%= @restaurant.addres %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @restaurant.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @restaurant.lng %>
</p>

<p>
  <strong>Image:</strong>
  <%= @restaurant.image %>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
